/* zahra madhar */



.container {
    margin: 2% auto;
    border: 1px solid #d7dbde;
    padding: 10px;
    border-radius: 10px;
}
.jumbotron {
    background-color: white;
    padding: 2rem 1rem;
}



button
{
    border-radius: 10px;
    border: 2px solid blue;
    width: 100px;
    color: white;
    margin-left: 700px;
    margin-top: 15px;
    height: 30px;
    background-color: blue;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}